
            <form id="login-form">
                <div class="form-group">
                    <input type="text" name="id" id="form-id" placeholder="your id numer">
                    <input type="text" name="pass" id="form-pass" placeholder="your password">
                </div>
                <div class="form-group">
                    <input type="text" name="code" id="form-code" class="large" placeholder="a little secret code">
                </div>
                <div class="form-group">
                    <input type="text" name="kch1" id="form-kch1" class="small" placeholder="#1 course id">
                    <input type="text" name="kxh1" id="form-kxh1" class="xsmall" placeholder="serial">
                    <input type="text" name="note1" id="form-note1" placeholder="name(simple)">
                </div>
                <div class="form-group">
                    <input type="text" name="kch2" id="form-kch2" class="small" placeholder="#2 course id">
                    <input type="text" name="kxh2" id="form-kxh2" class="xsmall" placeholder="serial">
                    <input type="text" name="note2" id="form-note2" placeholder="name(simple)">
                </div>
                <div class="form-group">
                    <input type="text" name="kch3" id="form-kch3" class="small" placeholder="#3 course id">
                    <input type="text" name="kxh3" id="form-kxh3" class="xsmall" placeholder="serial">
                    <input type="text" name="note3" id="form-note3" placeholder="name(simple)">
                </div>
                <div class="form-group">
                    <input type="submit" id="form-submit" value="submit">
                </div>
                
            </form>